.logo-main {
    img {
        // width: 105px;
        // height: 105px;
    }
}

.post-topic {
    margin: 0 6px;
}

html {
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: 100vw;
    width: 66vw;
    display: grid;
    align-content: space-around;
    justify-items: center;
    // background-color: firebrick;
    // grid-template-rows: 1fr 2fr 1fr;
}

$color-gray-one: #666666;
$color-gray-two: #B3B3B3;

@import "./searchBar.scss";